/* Fuentes  Importadas */
/* Para títulos :font-family: 'Ultra', serif;*/
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
/* Fuente general: font-family: 'PT Serif', serif; */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

/* Estilos generales */
a {
  font-family: 'PT Serif', serif;
  text-decoration: none;
  color: white;
}

p {
  font-family: 'PT Serif', serif;
}

h1 {
  font-family: 'Ultra', serif;
}

h2 {
  font-family: 'Ultra', serif;
}
hr{
  background: #ee0979;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ee0979, #ff6a00);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ee0979, #ff6a00);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 20px;
  border: none;
}
body {

  font-family: 'PT Serif', serif;
  background: #ee0979;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ee0979, #ff6a00);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ee0979, #ff6a00);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width: 80%;
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 20px;

}


/* Estilos de cabecera */
#header {
  color: #000000;

  background: #ece9e6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ece9e6, #ffffff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ece9e6, #ffffff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 20px;
  padding: 10px;
  box-shadow: 3px 3px 5px black;

}

/* Estilos de la barra que separa la cabecera */
#header hr {
  color: #282828;

}

/* Estilos del td de la tabla del contenido */
.td {
  padding-right: 50px;
}

.contenido {
  background-color: #ffffff;
  padding: 20px;
}

/* Estilos de botones */
.botones {
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #000000, #434343);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #000000, #434343);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 100px;
  padding: 5px;
  margin-top: 20px;
  border: 1px solid black;
  width: 140px;
  color: white;
  transition: all 300ms;
}

.botones:hover {
  box-shadow: 0px 0px 20px rgb(191, 191, 255);
  cursor: pointer;
}

/* Tablas de donde encontrarnos */
.dondeEncontrarnos {
  border: 1px solid black;
}

.dondeEncontrarnos tr td:first-child {
  border-right: 1px solid black;
}

footer{
  font-size: 12px;
}